
body {
    background-color: lightgray;
}
hr {border-color:black;}
h1{background-color:brown}

h2{color:cornflowerblue;
  
}


h3 {
    color: cornflowerblue
}
.rounded {
    flex: none;
    width: 200px;
    height: 250px;
    border-radius: 70%;
    
}
 
